.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
*.temp
.vscode/
.idea/

back-end/node_modules/
back-end/dist/
back-end/.tools/
back-end/.npm-cache/
back-end/server.out.log
back-end/server.err.log
back-end/coverage/
back-end/logs/
back-end/uploads/

front-end/node_modules/
front-end/.cache/
front-end/react-app/node_modules/
front-end/react-app/dist/
